/* Button Styling */
.add-new-notes-btn {
  position: fixed;
  top: 120px; /* Adjust the top position as needed */
  right: 80px;
}

/* Typography */
.app-name {
  font-family: Lobster;
  color: #008080;
  text-align: center;
  font-size: 60px;
}

/* Body styling */
.home-body {
  font-family: 'Poppins';
  padding-left: 60px;
}

/* Add New Button */
.add-new-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #008080;
  color: white;
  border: none;
  font-family: "Poppins";
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

/* Card Styling in div 1 */
.card1 {
  background-color: #f0e130;
  box-shadow: 0 4px 8px 0 #008080;
  transition: 0.3s;
  height: 100px;
  font-size: 20px;
}

.card1:hover {
  box-shadow: 0 8px 16px 0 #008080;
}

/* Card 1 padding */
.card1-container {
  padding: 50px 60px;
}

/* Flex container for divs */
.div-home-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Card 2 styling */
.card2 {
  padding: 20px;
  box-shadow: #f0e130;
  transition: 0.3s;
  width: 900px;
  height: 800px;
  font-size: 20px;
  margin: 0 auto;
  border-radius: 70px; /* Add rounded corners */
}

.card2:hover {
  box-shadow: 0 8px 16px 0 #f0e130;
}

/* Add padding to center the card content */
.div-for-paddding-card2 {
  padding: 20px 60px; /* Adjust the padding as needed */
}


/* Column styling */
.title-column {
  font-size: 22px;
  font-weight: bold;
}

.title-column-display {
  font-size: 35px;
}

.content-column {
  font-size: 25px;
}

/* Textarea styling */
.content-textarea {
  height: 600px;
  font-size: 20px;
  font-family: 'Poppins';
}

/* Media Queries for Responsiveness */
@media (max-width: 1023px) {
  .div-home-body {
    flex-direction: column; /* Stack divs vertically */
  }

  .card2 {
    width: 100%; /* Set card2 to full width on smaller screens */
    height: auto; /* Reset height for content adjustment */
  }

  .div-for-paddding-card2 {
    padding: 0 20px; /* Adjust padding for smaller screens */
  }
}

input[type="text"] {
  font-family: 'Poppins';
  font-size: 20px;
}

/* icon styling*/

.icon-div .icon {
  margin-right: 10px; /* Add some space between icons */
  cursor: pointer;
}

.icon-div {
  position: absolute;
  top: 242px;
  right: 80px;
  display: flex;
}

/* Adjust the width of the input and textarea within card2 */
.card2 input[type="text"],
.card2 textarea {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%; /* You can adjust this value as needed */
  max-width: 800px; /* Set a maximum width to prevent excessive expansion */
  box-sizing: border-box; /* Include padding and border in the total width */
}


