/* Button Styling */
.add-new-notes-btn {
    position: fixed;
    top: 20px;
    right: 20px;
}

.app-name {
    font-family: Lobster;
    text-align: center;
    font-size: 60px;
}

.app-tagline {
    text-align: center;
    font-family:'Poppins';
    font-style: italic;
    font-size: 20px;
}